############################
# Build results
############################
bin/
obj/
out/
[Bb]uild/
[Ll]og/

############################
# Visual Studio
############################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS temp/cache files
*.db
*.cache
*.v2
*.vsidx
*.dtbcache.v2
*.pdb
*.ipch
*.opendb
*.VC.db
*.bak
*.backup.json

############################
# JetBrains Rider
############################
.idea/
*.iml

############################
# NuGet
############################
*.nupkg
*.snupkg
packages/
*.nuspec
project.lock.json

############################
# Logs
############################
*.log

############################
# Config (optional)
############################
appsettings.Development.json
appsettings.*.local.json

############################
# Others
############################
*.tmp
*.swp
*.DS_Store
Thumbs.db
